*
{
    margin: 0;
    padding: 0;
}

.clear
{
    clear: both;
}

.topmenu
{
    background: url(../images/logo.png) 10px no-repeat #4B4A45;
    height: 66px;
    padding-left: 210px;
    position: relative;
}

.topmenu_item
{
    width: 80px;
    height: 19px;
    display: inline-block;
    background: center 7px no-repeat;
    text-align: center;
    padding-top: 47px;
    font: 14.7200002670288px Arial;
}

.topmenu_main
{
    background-image: url(../images/topmenu-main.png);
}

.topmenu_html
{
    background-image: url(../images/topmenu-html.png);
}

.topmenu_css
{
    background-image: url(../images/topmenu-css.png);
}

.topmenu_site
{
    background-image: url(../images/topmenu-site.png);
}

.topmenu_selected
{
    background-color: #EEDFAC;
}

.topmenu_unselected
{
    background-color: #F3EDDF;
}

.topmenu_item a
{
    color: black;
    text-decoration: none;
}

 .topmenu .searchbox
{
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: #ffffff;
    height: 20px;
    padding-top: 1px;
}

 .topmenu .searchbox_input
{
    width: 196px;
    padding: 2px 2px;
    border: none;
}

 .topmenu .searchbox_button
{
    vertical-align: -3px;
    padding-right: 2px;
    opacity: 0.5;
}

.submenu
{
    background-color: #EEDFAC;
    height: 35px;
}

.submenu_item
{
    margin-left: 5px;
    height: 35px;
    display: inline-block;
    font: 14.7200002670288px/34px Arial;
    padding: 0 7px;

}

.submenu_item a
{
    color: #3071B8;
    text-decoration: none;
}

.submenu_item a:hover
{
    text-decoration: underline;
}