.circle 
{
    margin: 30px 20px;
    width: 100px;
    height: 100px;
    background: red;    
    border: 2px solid red;
    border-radius: 5em;
    position: absolute;
}
p
{
    float: left;
}